<!-- <section>
  <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8 h-screen">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 h-full">
      <div
        class="bg-blue-600 p-8 md:p-12 lg:px-16 lg:py-24 rounded-l-xl shadow-lg"
      >
        <div
          class="mx-auto max-w-xl text-center h-full flex flex-col justify-center"
        >
          <h2 class="text-2xl font-bold text-white md:text-3xl">
            Have you ever wondered what the future might look like?
          </h2>

          <p class="hidden text-white/90 sm:mt-4 sm:block">
            With procast, you can easily predict it based on past data. Give it
            a try!
          </p>

          <div class="mt-4 md:mt-8">
            <a
              [routerLink]="['workspace']"
              class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-blue-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
            >
              🧪 Create analysis
            </a>
          </div>
        </div>
      </div>

      <div class="w-full h-full p-8">
        <canvas
          baseChart
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
        >
        </canvas>
      </div>
    </div>
  </div>
</section> -->

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section class="start-container relative">
  <!-- <div
    class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div> -->

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div
      class="main-tile z-[1] max-w-2xl text-center ltr:sm:text-left rtl:sm:text-right rounded-lg backdrop-blur-sm"
    >
      <h1
        class="main-tile__heading text-3xl font-extrabold text-white sm:text-5xl drop-shadow"
      >
        Did you wonder how

        <strong class="block font-extrabold text-indigo-300">
          the future might look like?
        </strong>
      </h1>

      <p class="mt-4 max-w-xl text-white sm:text-xl/relaxed flex flex-col">
        <span>With procast, you can easily predict it based on past data.</span>
        <span>Give it a try!</span>
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center justify-center">
        <a
          [routerLink]="['workspace']"
          class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-blue-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
        >
          🧪 Create analysis
        </a>
      </div>
    </div>
  </div>
</section>

<ngx-particles
  [id]="'start-particles'"
  [options]="particlesConfig"
  (particlesLoaded)="particlesLoaded($event)"
></ngx-particles>
