<div class="p-8 flex flex-col relative">
  <button
    class="!absolute !flex right-4 top-4"
    mat-icon-button
    [mat-dialog-close]="true"
    aria-label="Close button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div class="grid grid-cols-1 sm:grid-cols-4 gap-2 max-h-64 overflow-hidden">
    <div
      class="flex items-center justify-center w-full h-64"
      [ngClass]="{
        'col-span-2': isPredefinedDataVisible,
        'col-span-4': !isPredefinedDataVisible
      }"
    >
      <label
        for="dropzone-file"
        class="h-full flex flex-col items-center justify-center w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">XLSX or CSV</p>
        </div>
        <input
          id="dropzone-file"
          type="file"
          accept=".csv,.xlsx"
          class="hidden"
          (change)="loadFileFromLocalDestination($event)"
        />
      </label>
    </div>
    @if (isPredefinedDataVisible) {
    <div class="col-span-2 overflow-y-scroll max-h-64">
      <fieldset>
        <legend class="sr-only">Checkboxes</legend>

        <div class="space-y-2">
          @for (file of predefinedFileList; track $index) {
          <label
            [for]="'Option' + $index"
            class="flex cursor-pointer items-start gap-4 rounded-lg border border-gray-200 p-4 transition hover:bg-gray-50 has-[:checked]:bg-blue-50"
          >
            <div class="flex items-center">
              &#8203;
              <input
                type="checkbox"
                class="size-4 rounded border-gray-300"
                [id]="'Option' + $index"
                [disabled]="selectedFile !== '' && selectedFile !== file[0]"
                [checked]="selectedFile === file[0]"
                (change)="setSelectedFile($index, $event)"
              />
            </div>

            <div>
              <strong class="font-medium text-gray-900"> {{ file[0] }} </strong>

              <p class="mt-1 text-pretty text-sm text-gray-700">
                Extension: {{ file[1] }}
              </p>
            </div>
          </label>
          }
        </div>
      </fieldset>
    </div>

    }
  </div>
  <hr class="my-4" />
  <div class="action-button-group flex gap-2">
    <button
      mat-fab
      extended
      (click)="togglePredefinedData()"
      class="!w-1/2"
      [disabled]="!canLoadFile"
    >
      💾 Load
      <div
        class="absolute top-0 bg-[url('https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png')]"
      ></div>
    </button>
    <button
      mat-fab
      extended
      (click)="togglePredefinedData(isPredefinedDataVisible)"
      class="!w-1/2"
    >
      {{
        isPredefinedDataVisible
          ? '🧙‍♂️ Hide predefined data'
          : '🚀 Show predefined data'
      }}
      <div
        class="absolute top-0 bg-[url('https://ssl.gstatic.com/images/branding/product/1x/drive_2020q4_48dp.png')]"
      ></div>
    </button>
  </div>
</div>
