<div class="grid grid-cols-4 grid-rows-6 gap-4 h-full min-h-screen">
  <div
    class="chart__container col-span-3 row-span-4 m-2 p-4 border border-slate-200 rounded-xl"
    [ngClass]="{
      'prediction-not-started':
        isPredictionInProgress && computationProgressBarMode === 'query',
      'prediction-not-generated':
        isPredictionInProgress && computationProgressBarMode === 'determinate'
    }"
  >
    @if (chartConfig) {
    <canvas
      #chart
      baseChart
      [type]="chartConfig.chartType"
      [data]="chartData"
      [options]="chartOptions"
      [legend]="chartLegend"
    >
    </canvas>
    }
  </div>
  <div class="row-span-4 col-start-4 row-start-1">
    <app-sidebar />
  </div>

  <div class="col-span-3 row-span-2 col-start-1 row-start-5">
    <mat-tab-group class="px-4" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          @if (isEditingWorksheetName) {
          <div class="flex gap-2 justify-center items-center">
            <mat-form-field class="w-32">
              <input
                #worksheetNameInput
                matInput
                [value]="worksheetName"
                (keydown.enter)="submitWorksheetTitle(worksheetNameInput.value)"
              />
              @if (worksheetName) {
              <button
                matSuffix
                mat-icon-button
                aria-label="Close"
                (click)="setEditingWorksheetNameState(false)"
              >
                <mat-icon>close</mat-icon>
              </button>
              }
            </mat-form-field>
            <button
              mat-mini-fab
              aria-label="Submit edit sheet title"
              class="scale-[.8]"
              (click)="submitWorksheetTitle(worksheetNameInput.value)"
            >
              <mat-icon>check</mat-icon>
            </button>
          </div>

          } @else {
          <span class="text-base">{{ worksheetName }}</span>
          <button
            mat-mini-fab
            aria-label="Edit sheet title button"
            class="scale-[.6] transition-all opacity-35 hover:opacity-100"
            (click)="setEditingWorksheetNameState()"
          >
            <mat-icon>mode_edit</mat-icon>
          </button>
          }
        </ng-template>

        <app-worksheet
          [worksheetData]="worksheetData"
          [isPredictionInProgress]="isPredictionInProgress"
          [computationProgressValue]="computationProgressValue"
          [progressBarMode]="computationProgressBarMode"
          [lastPredictionFailed]="lastPredictionFailed"
          class="max-h-52 block overflow-hidden"
        />
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="row-span-2 col-start-4 row-start-5">
    <div
      class="grid grid-cols-2 grid-rows-3 gap-2 w-full h-full items-center justify-center px-8 py-4"
    >
      <div class="flex justify-center items-center w-full h-full">
        <a
          class="hover:cursor-pointer group w-full h-full flex items-center justify-between gap-4 rounded-lg border border-current px-5 py-3 text-indigo-600 transition-colors hover:bg-indigo-600 focus:outline-none focus:ring active:bg-indigo-500 hover:text-white"
          [matTooltip]="generatePredictionTooltip"
          [ngClass]="{
            'link-disabled': !canStartPrediction || isPredictionInProgress
          }"
          (click)="generatePrediction()"
        >
          <span
            class="font-medium transition-colors group-hover:text-white w-full text-center truncate"
          >
            Generate
          </span>
          @if (isPredictionInProgress) {
          <svg
            class="animate-spin -ml-1 mr-3 h-5 w-5 text-indigo-600"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          } @else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z"
            />
          </svg>
          }
        </a>
      </div>
      <div class="flex justify-center items-center w-full h-full">
        <a
          class="hover:cursor-pointer group w-full h-full flex items-center justify-between gap-4 rounded-lg border border-current px-5 py-3 text-indigo-600 transition-colors hover:bg-indigo-600 focus:outline-none focus:ring active:bg-indigo-500 hover:text-white"
          (click)="openLoadDataModal()"
          [ngClass]="{
            'link-disabled': isPredictionInProgress
          }"
        >
          <span
            class="font-medium transition-colors group-hover:text-white w-full text-center truncate"
          >
            Load
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15"
            />
          </svg>
        </a>
      </div>
      <div class="flex justify-center items-center w-full h-full">
        <a
          class="hover:cursor-pointer group w-full h-full flex items-center justify-between gap-4 rounded-lg border border-current px-5 py-3 text-indigo-600 transition-colors hover:bg-indigo-600 focus:outline-none focus:ring active:bg-indigo-500 hover:text-white"
          matTooltip="Current loaded data will be overridden"
          (click)="generateRandomData()"
          [ngClass]="{
            'link-disabled': isPredictionInProgress
          }"
        >
          <span
            class="font-medium transition-colors group-hover:text-white w-full text-center truncate"
          >
            Random
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z"
            />
          </svg>
        </a>
      </div>
      <div class="flex justify-center items-center w-full h-full">
        <a
          class="hover:cursor-pointer group w-full h-full flex items-center justify-between gap-4 rounded-lg border border-current px-5 py-3 text-indigo-600 transition-colors hover:bg-indigo-600 focus:outline-none focus:ring active:bg-indigo-500 hover:text-white"
          (click)="savePredictionResults()"
          [ngClass]="{
            'link-disabled': !canSaveResults || isPredictionInProgress
          }"
        >
          <span
            class="font-medium transition-colors group-hover:text-white w-full text-center truncate"
          >
            Save
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15M9 12l3 3m0 0 3-3m-3 3V2.25"
            />
          </svg>
        </a>
      </div>
      <div class="flex justify-center items-center w-full h-full">
        <a
          class="hover:cursor-pointer group w-full h-full flex items-center justify-between gap-4 rounded-lg border border-current px-5 py-3 text-indigo-600 transition-colors hover:bg-indigo-600 focus:outline-none focus:ring active:bg-indigo-500 hover:text-white"
          (click)="performRedo()"
          [ngClass]="{
            'link-disabled': !redoActions.length || isPredictionInProgress
          }"
        >
          <span
            class="font-medium transition-colors group-hover:text-white w-full text-center truncate"
          >
            Redo
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
            />
          </svg>
        </a>
      </div>
      <div class="flex justify-center items-center w-full h-full">
        <a
          class="hover:cursor-pointer group w-full h-full flex items-center justify-between gap-4 rounded-lg border border-current px-5 py-3 text-indigo-600 transition-colors hover:bg-indigo-600 focus:outline-none focus:ring active:bg-indigo-500 hover:text-white"
          (click)="performUndo()"
          [ngClass]="{
            'link-disabled': !undoActions.length || isPredictionInProgress
          }"
        >
          <span
            class="font-medium transition-colors group-hover:text-white w-full text-center truncate"
          >
            Undo
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
