@mixin display-overlay($message) {
  &::before {
    @apply absolute top-0 left-0 w-full h-full backdrop-blur-sm text-center flex items-center justify-center transition-all;
    content: $message;
  }
}

$overlay-label: '⌛ Prediction is not completed ⌛';

::ng-deep {
  ul.chart-config {
    .mat-mdc-form-field-subscript-wrapper {
      @apply hidden;
    }
  }
  .mat-mdc-tab-group {
    display: flex !important;
    flex-direction: row !important;
    .mat-mdc-tab-body-wrapper {
      @apply w-full;
    }
  }
  .mat-mdc-tab-header {
    @apply mb-2;
  }
  .mat-mdc-tab-labels {
    @apply h-16;

    .mat-mdc-tab {
      @apply h-full w-56;
    }
    .mat-mdc-form-field-subscript-wrapper {
      @apply hidden;
    }
  }
}

.link-disabled {
  @apply pointer-events-none cursor-default opacity-50;
}

.chart {
  &__container {
    @apply relative;
    &.prediction-not-generated {
      @include display-overlay($overlay-label);
    }
  }
}
