<mat-progress-bar
  class="!scale-[.95] !absolute z-10 top-0 left-0 rounded-xl"
  [mode]="progressBarMode"
  [value]="computationProgressValue"
  [ngClass]="{
    finished: computationProgressValue === 100 && !lastPredictionFailed,
    preparing: progressBarMode === 'query',
    failed: lastPredictionFailed
  }"
></mat-progress-bar>
<ag-grid-angular
  class="ag-theme-quartz"
  style="height: 200px; width: 100%"
  [ngClass]="{
    'grid-disabled': isPredictionInProgress
  }"
  [rowData]="convertedWorksheetData"
  [columnDefs]="colDefs"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
/>
