@mixin display-overlay($message) {
  &::before {
    @apply absolute top-0 left-0 w-full h-full backdrop-blur-sm text-center flex items-center justify-center transition-all;
    content: $message;
  }
}

$not-completed-overlay-label: '⌛ Prediction has not completed ⌛';
$not-started-overlay-label: 'Prediction has not started 🚀';

.finished {
  --mdc-linear-progress-active-indicator-color: rgba(34, 197, 94, 0.8);
}

.preparing {
  --mdc-linear-progress-active-indicator-color: rgba(34, 211, 238, 0.4);
}

.failed {
  --mdc-linear-progress-active-indicator-color: rgba(238, 34, 34, 0.6);
}

::ng-deep {
  ul.chart-config {
    .mat-mdc-form-field-subscript-wrapper {
      @apply hidden;
    }
  }
  .mat-mdc-tab-group {
    display: flex !important;
    flex-direction: row !important;
    .mat-mdc-tab-body-wrapper {
      @apply w-full mx-4;
    }
  }
  .mat-mdc-tab-header {
    @apply mb-2;
  }
  .mat-mdc-tab-labels {
    @apply h-full relative flex flex-col;

    .mdc-tab.mat-mdc-tab.mat-focus-indicator {
      @apply h-fit;

      &:last-child {
        @apply pointer-events-none;
      }
    }

    .mat-mdc-tab {
      @apply h-full w-56;
    }
    .mat-mdc-form-field-subscript-wrapper {
      @apply hidden;
    }
  }
}

.chart {
  &__container {
    @apply relative;
    &.prediction-not-generated {
      @include display-overlay($not-completed-overlay-label);
    }

    &.prediction-not-started {
      @include display-overlay($not-started-overlay-label);
    }
  }
}
