@use '@angular/material' as mat;
/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$magenta-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: -5,
    )
  );
}

@function is-important($important) {
  @return #{if($important, '!important', '')};
}

@mixin native-font($important: false) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace is-important($important);
}

* {
  @include native-font();
}

.mat-mdc-option {
  @include native-font(!important);
}

body {
  @apply w-full m-0;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
